
.img1 {
    position: absolute;
  top: 95px;
  left: 220px;
  width: 300px;
  height: 290px;
}
a.two:link {color:#ff0000;}
a.two:hover {font-size:150%;}
p.solid {border-style: solid;}

.sock{
  position: absolute;
  top: 350px;
  left: 1000px;
  width: 390px;
  height: 200px;  
}


.img2 {
    position: absolute;
    top: 205px;
    left: 100px;
    width: 390px;
    height: 200px;  
}

.img3 {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 390px;
    height: 200px;
}

h1{
font-weight: bold;
  color: rgb(68, 0, 255);
  font-size: 32px;
  font-style: italic;
  top: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    background: white url("]"); 
     background-size: 1100px;
     background-repeat: no-repeat center;
    
    
 
 }























































































